body{
    background-color: black;
}

.jugador{
    height: 50px;
    width: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    top: 50%;
    padding: 20px 0px;
}

#jugador1 {
    position: absolute;
    left: 20px;
}
#jugador2 {
    position: absolute;
    right: 20px;
}
#ball {
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 11px;
}